.logo{
    display: inherit;
    font-family: 'Rambla', sans-serif;
    font-size: 1.1em;
    margin: 0;
}
.logo a {
    text-decoration: none;
}
nav{
    display: inherit;
}
nav ul{
    margin: 0;
    padding: 10px 0px 10px 30px;
    list-style-type: none;
}
ul li{
    display: inline;
    margin-right: 40px;
}
ul li a {
 text-decoration: none;
 color: #ffffff;
}
ul li a:hover, ul li a.current {
 color: #000000;
}


